.catalog-product {
  margin-bottom: 30px;
}

.catalog-product__picture {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 195px;
}

.catalog-product__promo {
  margin: 0;
  padding: 26px 26px 27px 28px;

  border: 1px solid rgba(0, 0, 0, 0.1);
}

.catalog-product__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-family: $font;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-product__legend {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;

  font-family: $font;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog-product__price-and-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.catalog-product__price {
  font-family: $font;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.catalog-product__basket {
  margin-top: 2px;
}

.catalog-product__icon {
  path {
    fill: rgba(0, 0, 0, 0.2);
  }

  &:hover {
    path {
      fill: #63d1bb;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog-product {
    display: flex;
    margin-bottom: 54px;
  }

  .catalog-product__picture {
    width: 50%;
    height: 334px;
  }

  .catalog-product__image {
    width: 100%;
    height: auto;
  }

  .catalog-product__promo {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 26px 31px 27px 31px;

    box-sizing: border-box;
  }

  .catalog-product__title {
    margin-left: -4px;

    font-size: 20px;
    line-height: 24px;
  }

  .catalog-product__legend {
    margin-left: -4px;

    font-size: 15px;
    line-height: 30px;
  }

  .catalog-product__price-and-buy {
    margin-top: auto;
  }

  .catalog-product__price {
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-product {
    flex-direction: column;
    width: 316px;
    margin: 0;
  }

  .catalog-product__picture {
    width: 316px;
    height: 462px;
  }

  .catalog-product__promo {
    width: 316px;
    padding: 24px 30px 26px 28px;
    flex-grow: 1;
  }

  .catalog-product:hover .catalog-product__promo {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .catalog-product:active .catalog-product__promo {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  .catalog-product__title {
    margin-left: -1px;
  }

  .catalog-product__legend {
    margin-bottom: 14px;
    margin-left: -1px;
  }

  .catalog-product__price-and-buy {
    padding-top: 22px;
  }
}
