.social__item {
  margin-left: 40px;

  &:first-child {
    margin-left: -5px;
  }
}

.social__link svg {
  &:hover {
    path {
      fill: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;

    path {
      fill: #46c1ae;
    }
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-top: 7px;
  }
}
