.advanteges {
  margin: 0;
  padding: 30px;

  font-family: $font-bold;
}

.advanteges__promo {
  margin: 0;
  padding: 0;

  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.advanteges__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advanteges__item {
  margin: 0;
  padding: 0;
  padding-top: 80px;

  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
