.page-footer__wrapper {
  background-color: #f1f1f1;
}

.page-footer {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  box-sizing: border-box;
}

.page-footer__image {
  display: none;
}

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 25px 0 22px 0;

  list-style: none;
  box-shadow: 0 1px 0 0 #cecece;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 668px;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: content-box;
  }

  .page-footer__image {
    display: inline;
    padding-top: 51px;
    padding-bottom: 58px;
    margin-right: 80px;
  }

  .page-footer__social {
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1150px;
    padding: 23px 50px;
  }
}
