.product-hit__wrapper {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 6px;
}

.product-hit {
  width: 320px;
  font-family: $font;
  margin: 0;
  padding: 26px 30px 40px 30px;

  box-sizing: border-box;
}

.product-hit__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-family: $font;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.product-hit__best-product {
  display: inline-block;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  font-family: $font;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

.product-hit__legend {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.product-hit__table {
  border-collapse: collapse;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  width: 100%;

  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.product-hit__table tr {
  box-shadow: 0 1px 0 0 #cecece;
}

.product-hit__field {
  width: 38%;
}

.product-hit__value {
  width: 62%;
}

.product-hit__table td {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 11px;
}

.product-hit__image {
  width: 260px;
  height: 315px;
  margin-bottom: 22px;
}

.product-hit__price {
  margin: 0;
  padding: 0;

  font-family: $font;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
  text-align: center;
}

.product-hit .button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-top: 25px;
  padding: 15px 83px 14px 84px;

  font-family: $font;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;

  border: 2px solid #444444;
}

@media (min-width: $tablet-width) {
  .product-hit__wrapper {
    position: relative;
    margin-top: -16px;

    background-image: url("../img/bg-zigzag-fill.svg"), url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x, repeat-x;
    background-position: top, bottom;
    background-size: auto 24px, auto 15px;
    z-index: 10;
  }

  .product-hit {
    display: flex;
    flex-direction: column;

    width: 668px;
    position: relative;
    padding: 57px 50px 43px 50px;
    margin: 0 auto;
    box-sizing: content-box;
  }

  .product-hit__promo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 49px;
  }

  .product-hit__title {
    padding: 0;
    margin: 0;
    margin-left: -2px;
    margin-right: 135px;

    font-size: 43px;
    line-height: 50px;
  }

  .product-hit__best-product {
    width: 90px;
    padding: 0;
    margin: 0;
    margin-top: 5px;

    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .product-hit__about {
    display: flex;
    align-items: flex-end;
  }

  .product-hit__text {
    width: 50%;
  }

  .product-hit__legend {
    width: 285px;
    margin-bottom: 35px;

    font-size: 17px;
    line-height: 30px;
  }

  .product-hit__table {
    width: 291px;
    margin-bottom: 57px;

    line-height: 20px;
  }

  .product-hit__table td {
    padding: 10px 0;
  }

  .product-hit__field {
    width: 33%;
  }

  .product-hit__value {
    width: 67%;
  }

  .product-hit__price {
    font-size: 20px;
    text-align: start;
    margin-left: 72px;
    margin-bottom: 8px;
  }

  .product-hit .button {
    margin-left: -2px;
    padding: 15px 99px;
  }

  .product-hit__picture {
    width: 50%;
  }

  .product-hit__image {
    width: 100%;
    margin: 0;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .product-hit {
    padding: 117px 0 80px 175px;
  }

  .product-hit__title {
    font-size: 53px;
    line-height: 57px;
  }

  .product-hit__best-product {
    top: 135px;
    left: 47px;
  }

  .product-hit__table {
    margin-bottom: 110px;
  }

  .product-hit__image {
    bottom: 50px;
  }
}
