.product-hit {
  font-family: $font;
  margin: 0;
  padding: 30px;
}

.product-hit__title {
  margin: 0;
  padding: 0;

  font-family: $font;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.product-hit__best-product {
  display: inline-block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-family: $font;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

.product-hit__legend {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.product-hit__table {
  border: collapse;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.product-hit__table tr {
  box-shadow: 0 1px 0 0 #cecece;
}

.product-hit__promo {
  margin: 0;
  padding: 0;
}

.product-hit__image {
  width: 260px;
  height: 315px;
  margin-bottom: 25px;
}

.product-hit__price {
  margin: 0;
  padding: 0;

  font-family: $font;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
}

.product-hit .button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-top: 25px;
  padding: 15px 84px;

  font-family: $font;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;

  border: 2px solid #444444;
}

@media (min-width: $tablet-width) {
  .product-hit {
    position: relative;
    padding: 40px 0 55px 0;
  }

  .product-hit__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .product-hit__best-product {
    position: absolute;
    top: 50px;
    right: 28px;
    width: 70px;

    line-height: 17px;
    text-align: center;
  }

  .product-hit__legend {
    width: 285px;
    margin-bottom: 60px;

    font-size: 17px;
    line-height: 30px;
  }

  .product-hit__table {
    width: 291px;
    margin-bottom: 60px;

    line-height: 20px;
  }

  .product-hit__table td {
    padding: 10px 0;
  }

  .product-hit__image {
    position: absolute;
    bottom: 30px;
    right: 0;
  }

  .product-hit__price {
    margin-left: 72px;
    font-size: 20px;
  }

  .product-hit .button {
    padding: 15px 99px;
  }
}

@media (min-width: $desktop-width) {
  .product-hit {
    padding: 117px 0 80px 175px;
  }

  .product-hit__title {
    font-size: 53px;
    line-height: 57px;
  }

  .product-hit__best-product {
    top: 135px;
    left: 47px;
  }

  .product-hit__table {
    margin-bottom: 110px;
  }

  .product-hit__image {
    bottom: 50px;
  }
}
